.textContainer1{
    text-align:center;
}
.imgContainer1{
    float:left;
    width: 250px;
    word-wrap: break-word;
}
.imgContainer2{
    float:right;
    width: 250px;
    word-wrap: break-word;
}