.topright{
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 20px;
}
.imgContainer1{
    float:left;
    width: 250px;
    word-wrap: break-word;
    font-size: 18px;
}
.imgContainer2{
    float:right;
    width: 250px;
    word-wrap: break-word;
    font-size: 18px;
}
.imgContainer3{
    float:center;
    width: 250px;
    word-wrap: break-word;
    font-size: 20px;
}
.textContainer1{
    display: block;
    text-align:center;
    font-size: 20px;
}