<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LLMZH86LY6">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LLMZH86LY6');
</script>

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/1.css') }}">
<a href="https://shop.voteforproduct.com/">
    <p class="topright">Shop</p>
</a>
<a href="mailto:support@voteforproduct.com?subject=voteforproduct.com%20support">
    <p class="topleft">Contact support</p>
</a>
<head>
    <div class="textContainer1">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category, message in messages %}
            <div class="flash {{category}}">{{message}}</div>
        {% endfor %}
        {% endwith%}
        <a href="/">Choose more items!</a>
    </div>
</head>