<!DOCTYPE html>
<html lang="en">
<head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LLMZH86LY6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-LLMZH86LY6');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>


  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="/">Vote For Product</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
            <li class="nav-item"><a class='nav-link' href="/">Home</a></li>
            <li class="nav-item"><a class='nav-link' href="/vote">Vote</a></li>
            <li class="nav-item"><a class='nav-link' href="/cashout">Cash out</a></li>
            <li class="nav-item"><a class='nav-link' href="https://shop.voteforproduct.com/">Shop</a></li>
            <li class="nav-item"><a class='nav-link' href="/leaderboard">Leaderboard</a></li>
            <li class="nav-item"><a class='nav-link' href="/contact">Contact Us</a></li>
            <li class="nav-item"><a class='nav-link' href="/login">Login</a></li>
            <li class="nav-item"><a class='nav-link' href="/register">Register</a></li>
      </ul>
    </div>
  </nav>
  <br>

    <h1>Better value for money? Click to Choose.</h1>
    <h2>Try and guess the item that most people have picked!</h2>
    <p>
      Instructions:
    </p>
    <p>
      Step 1:
    </p>
    <a href = "/register">
    <p>
      Create an account by registering here.
    </p>
    </a>
    <p>
      Step 2:
    </p>
    <a href = '/vote'>
    <p>
      Vote on products here.
    </p>
    </a>
    <p>
      Step 3:
    </p>
    <a href = '/cashout'>
    <p>
      Cash out your money here.
    </p>
    </a>

    <p>Product List is reset daily at 8pm GMT</p>
    <p>
        You win £0.02 for every time you choose the product with better value for money.
        You win £0.01 for every time you choose a product where the value for money is equal to the other product.
        You lose £0.01 for every time you choose the product with worst value for money.
    </p>
    <h3>
      About us:
    </h3>
    <p>
      Our team consists of Robbie, a Computer Science undergraduate from England, and Talha,
      a Maths PhD student from Pakistan. Together, we have invested over 50 hours on this project,
      as well as too much money in hosting.
    </p>
  <footer class="footer">
    <p>&copy; 2024 Vote for Product</p>
</footer>

</div>
</html>