<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">

<div class="textContainer1">
    <h1>Better value for money? Click to Choose.</h1>
    <h2>Try and guess the item that most people have picked!</h2>
    <a href = "/leaderboard">Leaderboard</a>
</div>

<div class="image123">
    <div class="imgContainer1">
        <a href = "/1">{{contestant1}}</a>
        <p>{{price1}}</p>
        <a href="/1">
            <img src="{{ image_url1 }}" height="200" width="200"/>
        </a>
        <p>This is image 1</p>
    </div>
    <div class="imgContainer2">
        <a href="/2">{{contestant2}}</a>
        <p>{{price2}}</p>
        <a href="/2">
            <img src="{{ image_url2 }}" height="200" width="200"/>
        </a>
        <p>This is image 2</p>
    </div>
    </div>
</div>

