<!DOCTYPE html>
<html>
<head>
    <title>Leaderboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/leaderboard.css') }}">
</head>
<body>

<h1>Leaderboard</h1>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Wins/Losses</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Draws</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            {% for username in usernames %}
            <tr>
                <td>{{ username[1] }}</td>
                <td>{{ username[2] }}</td>
                <td>{{ username[3] }}</td>
                <td>{{ username[4] }}</td>
                <td>{{ username[0] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
