<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LLMZH86LY6">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LLMZH86LY6');
</script>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>

    <body>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
<form method ="post">

    
        <input type="username" name="username" required>
        <label>Username</label>
   
    
            <input type="password" name="password" required>
            <label>Password</label>
        
    <input type="submit"  value="Login">
</form>
    <br>
        <a href = '/register'>Register here</a>
    <p>
        The goal of the game is to pick the product that most people think is better value for money.
    </p>
    <p>
        Current prize is £1.00. Every day at 8pm GMT
        the Top 10 users on the leaderboard will receive an email and be paid in Monero (XMR).
        (You must enter a valid Monero wallet address to be paid, or if I know you in person I can pay cash.)
        Places 1-2 receive 100% of prize. Places 3-5 receive 50% of prize. Places 5-10 receive 20% of prize.
        It may take up to 24 hours to receive your Monero.
    </p>
</body>
</html>