<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LLMZH86LY6">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LLMZH86LY6');
</script>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>

    <body>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
<form method ="post">

    
        <input type="username" name="username" required>
        <label>Username</label>
   
    
            <input type="password" name="password" required>
            <label>Password</label>
        
    <input type="submit"  value="Login">
</form>
    <br>
        <a href = '/register'>Register here</a>
</body>
</html>